spring:
  application:
    name: ticketing-system

  datasource:
    url: jdbc:postgresql://localhost:5432/ticketing_db
    username: YOUR_DB_USERNAME
    password: YOUR_DB_PASSWORD

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

server:
  port: 8080